# Pandas

* [pandas](https://pandas.pydata.org/pandas-docs/stable/, "pandas link")
* 관계 또는 레이블링 데이터로 쉽고 직관적으로 작업할 수 있도록 고안된 빠르고 유연하며 표현력이 뛰어난 데이터 구조를 제공하는 Python 패키지

---

In [1]:
import numpy as np
import pandas as pd\
# 오류시 pip install pandas

## Pandas 데이터 구조

### Series

* 모든 데이터 타입을 저장할 수 있는 레이블(index)이 지정된 1차원 배열
* 인덱스(index), 값(values)으로 구성
* 딕셔너리, 리스트, 튜플 등으로 생성

In [2]:
s=pd.Series([0.3, 0.5, 0.5, 0.75, 1.0], # values
           index=['a', 'b', 'c', 'd', 'e']) # index(defalut: 0, 1, 2 ...) 
s

a    0.30
b    0.50
c    0.50
d    0.75
e    1.00
dtype: float64

In [3]:
s['c'] # row index 직접 지정했으므로

0.5

In [4]:
s[['c', 'd', 'e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [5]:
s.values

array([0.3 , 0.5 , 0.5 , 0.75, 1.  ])

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
s.unique() # 중복 제거

array([0.3 , 0.5 , 0.75, 1.  ])

In [8]:
s.value_counts() # 값 빈도

0.50    2
0.30    1
0.75    1
1.00    1
dtype: int64

In [9]:
s.isin([0.5, 0.75]) # 값 위치를 시리즈 형태로 반환 (boolean 타입)

a    False
b     True
c     True
d     True
e    False
dtype: bool

In [10]:
pop_dict={"서울특별시":9720846, # 딕셔너리 형태 - key, value 페어
          "부산광역시":3404423,
          "인천광역시":2947217,
          "대구광역시":2427954,
          "대전광역시":1471040,
          "광주광역시":1455048}
population=pd.Series(pop_dict) # 인수
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [11]:
population["서울특별시"]

9720846

In [12]:
population["서울특별시":"인천광역시"]

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

### DataFrame

* 시리즈가 열 방향으로 여러 개 합쳐진 2차원 자료 구조
* 열(columns), 인덱스(index), 값(values)으로 구성
* 딕셔너리, 리스트로 생성

In [13]:
pd.DataFrame([{'A':2, 'B':4, 'D':3}, {'A':4, 'B':5, 'C':7}])

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [14]:
pd.DataFrame(np.random.rand(5, 5), 
            columns=['A', 'B', 'C', 'D', 'E'],
            index=[1, 2, 3, 4, 5]) # 리스트

          A         B         C         D         E
1  0.051453  0.054248  0.647409  0.880484  0.915659
2  0.430464  0.358487  0.665104  0.347515  0.122518
3  0.491346  0.407055  0.380177  0.848923  0.238743
4  0.286826  0.283016  0.977558  0.411222  0.559486
5  0.813920  0.825592  0.042668  0.396814  0.089269

In [15]:
pop_male={"서울특별시":4732275,
          "부산광역시":1668618,
          "인천광역시":1476813,
          "대구광역시":1198815,
          "대전광역시":734441,
          "광주광역시":720060}
male=pd.Series(pop_male)
male

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [16]:
pop_female={"서울특별시":4988571,
            "부산광역시":1735805,
            "인천광역시":1470404,
            "대구광역시":1229139,
            "대전광역시":736599,
            "광주광역시":734988}
female=pd.Series(pop_female)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [17]:
korea_df=pd.DataFrame({"인구수":population,
                      "남자인구수":male,
                      "여자인구수":female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [18]:
korea_df.index # row index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [19]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [20]:
korea_df["여자인구수"]

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [21]:
korea_df["서울특별시":"인천광역시"]

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404



---

## 인덱싱(Indexing)

### DataFrame 인덱싱

| 사용 방법 | 설명 |
|-----------|------|
| `df[val]` | 하나의 컬럼 또는 여러 컬럼을 선택 |
| `df.loc[val]` | 레이블값으로 로우의 부분집합 선택 |
| `df.loc[:, val]` | 레이블값으로 컬럼의 부분집합 선택 |
| `df.loc[val1, val2]` | 레이블값으로 로우와 컬럼의 부분집합 선택 |
| `df.iloc[where]` | 정수 색인으로 로우의 부분집합 선택 |
| `df.iloc[:, where]` | 정수 색인으로 컬럼의 부분집합 선택 |
| `df.iloc[where_i, where_j]` | 정수 색인으로 로우와 컬럼의 부분집합 선택 |
| `df.at[label_i, label_j]` | 로우와 컬럼의 레이블로 단일 값 선택 |
| `df.iat[i, j]` | 로우와 컬럼의 정수 색인으로 단일 값 선택 |
| `reindex` | 하나 이상의 축을 새로운 색인으로 재색인 |
| `get_value, set_value` | 로우와 컬럼의 이름으로 값 선택 |

In [22]:
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [23]:
korea_df["남자인구수"]

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [24]:
korea_df.남자인구수

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [25]:
korea_df.여자인구수

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [26]:
korea_df["남여비율"]=(korea_df["남자인구수"]*100/korea_df["여자인구수"]) # 추가 (100보다 크다 = 남자 인구수가 많다)
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907
대전광역시  1471040   734441   736599   99.707032
광주광역시  1455048   720060   734988   97.968946

In [27]:
korea_df.남여비율

서울특별시     94.862336
부산광역시     96.129346
인천광역시    100.435867
대구광역시     97.532907
대전광역시     99.707032
광주광역시     97.968946
Name: 남여비율, dtype: float64

In [28]:
korea_df.T # row, column 바꿈

,서울특별시,부산광역시,인천광역시,대구광역시,대전광역시,광주광역시
인구수,9.720846e+06,3.404423e+06,2.947217e+06,2.427954e+06,1.471040e+06,1.455048e+06
남자인구수,4.732275e+06,1.668618e+06,1.476813e+06,1.198815e+06,7.344410e+05,7.200600e+05
여자인구수,4.988571e+06,1.735805e+06,1.470404e+06,1.229139e+06,7.365990e+05,7.349880e+05
남여비율,9.486234e+01,9.612935e+01,1.004359e+02,9.753291e+01,9.970703e+01,9.796895e+01

In [29]:
korea_df.loc[:"인천광역시", :"남자인구수"] # 레이블까지 포함

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

In [30]:
korea_df.loc[(korea_df.여자인구수>1000000)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907

In [31]:
korea_df.loc[(korea_df.인구수<2000000)]

           인구수   남자인구수   여자인구수       남여비율
대전광역시  1471040  734441  736599  99.707032
광주광역시  1455048  720060  734988  97.968946

In [32]:
korea_df.loc[(korea_df.인구수>2500000)&(korea_df.남여비율>100)] # & | 가능

           인구수    남자인구수    여자인구수        남여비율
인천광역시  2947217  1476813  1470404  100.435867

In [33]:
korea_df.iloc[:3, :2] # 정수 인덱스

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

## 데이터 연산

In [34]:
s1=pd.Series([1, 3, 5, 7, 9], index=[0, 1, 2, 3, 4])
s2=pd.Series([2, 4, 6, 8, 10], index=[1, 2, 3, 4, 5])
print(s1+s2)

0     NaN
1     5.0
2     9.0
3    13.0
4    17.0
5     NaN
dtype: float64

In [35]:
s1.add(s2, fill_value=0) # 값 없으면 fill_value로 덧셈

0     1.0
1     5.0
2     9.0
3    13.0
4    17.0
5    10.0
dtype: float64

In [36]:
df1=pd.DataFrame(np.random.randint(0, 20, (3, 3)),
                columns=list('ACD'))
df1

    A   C   D
0  15  11   3
1  19   9   7
2   4  12  11

In [37]:
df2=pd.DataFrame(np.random.randint(0, 20, (5, 5)),
                columns=list('BAECD'))
df2

    B   A   E   C   D
0   8   1   7  19  14
1  17   1   8  12   0
2   9  12  13   3  15
3   5  16   4  14  18
4  10   6  13  10   4

In [38]:
df1.add(df2, fill_value=0) # 차원이 달라도 사용 가능

      A     B     C     D     E
0  16.0   8.0  30.0  17.0   7.0
1  20.0  17.0  21.0   7.0   8.0
2  16.0   9.0  15.0  26.0  13.0
3  16.0   5.0  14.0  18.0   4.0
4   6.0  10.0  10.0   4.0  13.0

### 연산자 범용 함수

| Python 연산자 | Pandas 메소드             |
|---------------|---------------------------|
| ``+``         | ``add``, ``radd``     |
| ``-``         | ``sub``, ``rsub``, ``subtract`` |
| ``*``         | ``mul``, ``rmul``, ``multiply`` |
| ``/``         | ``truediv``, ``div``, ``rdiv``, ``divide``|
| ``//``        | ``floordiv``, ``rfloordiv`` |
| ``%``         | ``mod``                 |
| ``**``        | ``pow``, ``rpow``      |

#### add()

In [39]:
a=np.random.randint(1, 10, size=(3, 3))
a

array([[1, 3, 6],
       [1, 9, 1],
       [6, 7, 1]])

In [40]:
a+a[0]

array([[ 2,  6, 12],
       [ 2, 12,  7],
       [ 7, 10,  7]])

In [41]:
df=pd.DataFrame(a, columns=list('ABC'))
df

   A  B  C
0  1  3  6
1  1  9  1
2  6  7  1

In [42]:
df+df.iloc[0] # 각 row마다 덧셈

   A   B   C
0  2   6  12
1  2  12   7
2  7  10   7

In [43]:
df.add(df.iloc[0]) # 브로드캐스트 대상 0번 row

   A   B   C
0  2   6  12
1  2  12   7
2  7  10   7

### 정렬(Sort)

In [44]:
s=pd.Series(range(5), index=list('ADBCE'))

In [45]:
s.sort_index()

A    0
B    2
C    3
D    1
E    4
dtype: int64

In [46]:
s.sort_values()

A    0
D    1
B    2
C    3
E    4
dtype: int64

In [47]:
df=pd.DataFrame(np.random.randint(0, 6, (4, 4)),
               index=[2, 4, 1, 3],
               columns=list('BDAC'))
df

   B  D  A  C
2  0  5  4  5
4  3  2  1  4
1  5  0  5  1
3  0  5  2  3

In [48]:
df.sort_index() # defalut: row

   B  D  A  C
1  5  0  5  1
2  0  5  4  5
3  0  5  2  3
4  3  2  1  4

In [49]:
df.sort_index(axis=1) # 열 방향 lable 정렬

   A  B  C  D
2  4  0  5  5
4  1  3  4  2
1  5  5  1  0
3  2  0  3  5

In [50]:
df.sort_values(by='A') # A 크기 순

   B  D  A  C
4  3  2  1  4
3  0  5  2  3
2  0  5  4  5
1  5  0  5  1

In [51]:
df.sort_values(by=['A', 'C']) # A 순서로 정렬 - 같은 값은 C 기준으로 정렬

   B  D  A  C
4  3  2  1  4
3  0  5  2  3
2  0  5  4  5
1  5  0  5  1

### 순위(Ranking)

* 수 목록 내에서 개별 수의 크기 순위 계산
```
DataFrame.rank(self, 
            axis = 0, # 기본값 0(index)으로, index 축을 기준으로 순위 계산 
    		method = 'average', # 동점을 가진 데이터들의 순위를 정하는 방법
    		numeric_only = None, # True로 설정된 경우 숫자 열만 순위를 부여 
    		na_option = 'keep', # NaN 값 순위를 부여하는 방법
    		ascending = True, # 오름차순 또는 내림차순 정렬
    		pct = False) # 반환 된 순위를 백분위 수 형식으로 표시할지 여부
```

| method | 설명 |
|--------|------|
| `average` | 기본값. 순위에 같은 값을 가지는 항목들의 평균값을 사용 |
| `min` | 같은 값을 가지는 그룹을 낮은 순위로 지정 |
| `max` | 같은 값을 가지는 그룹을 높은 순위로 지정 |
| `first` | 데이터 내의 위치에 따라 순위 지정 |
| `dense` | 같은 그룹 내에서 모두 같은 순위를 적용하지 않고 1씩 증가 |

In [52]:
s=pd.Series([-2, 3, 7, 3, 8, 9, 3, -4, 2, 6])
s

0   -2
1    3
2    7
3    3
4    8
5    9
6    3
7   -4
8    2
9    6
dtype: int64

In [53]:
s.rank() # defalut: 오름차순 (동일 값 - average)

0     2.0
1     5.0
2     8.0
3     5.0
4     9.0
5    10.0
6     5.0
7     1.0
8     3.0
9     7.0
dtype: float64

In [54]:
s.rank(method='first') # 동일 값 - 나오는 순서대로 등수

0     2.0
1     4.0
2     8.0
3     5.0
4     9.0
5    10.0
6     6.0
7     1.0
8     3.0
9     7.0
dtype: float64

In [55]:
s.rank(method='max') # 동일 값 - 최대 등수

0     2.0
1     6.0
2     8.0
3     6.0
4     9.0
5    10.0
6     6.0
7     1.0
8     3.0
9     7.0
dtype: float64

In [56]:
s.rank(method='min')  # 동일 값 - 최소 등수

0     2.0
1     4.0
2     8.0
3     4.0
4     9.0
5    10.0
6     4.0
7     1.0
8     3.0
9     7.0
dtype: float64

## 데이터 결합

### concat() / append()

In [57]:
s1=pd.Series(['a', 'b'], index=[1, 2])
s2=pd.Series(['c', 'd'], index=[3, 4])
pd.concat([s1, s2])

1    a
2    b
3    c
4    d
dtype: object

In [58]:
def create_df(cols, idx):
    data={c:[str(c.lower())+str(i) for i in idx] for c in cols}
    print(data)
    return pd.DataFrame(data, idx)

In [59]:
df1=create_df('AB', [1, 2])
df1

{'A': ['a1', 'a2'], 'B': ['b1', 'b2']}

    A   B
1  a1  b1
2  a2  b2

In [60]:
df2=create_df('AB', [3, 4])
df2

{'A': ['a3', 'a4'], 'B': ['b3', 'b4']}

    A   B
3  a3  b3
4  a4  b4

In [61]:
pd.concat([df1, df2])

    A   B
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4

In [62]:
df3=create_df('AB', [0, 1])
df3

{'A': ['a0', 'a1'], 'B': ['b0', 'b1']}

    A   B
0  a0  b0
1  a1  b1

In [63]:
df4=create_df('CD', [0, 1])
df4

{'C': ['c0', 'c1'], 'D': ['d0', 'd1']}

    C   D
0  c0  d0
1  c1  d1

In [64]:
pd.concat([df3, df4])

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1  NaN  NaN
0  NaN  NaN   c0   d0
1  NaN  NaN   c1   d1

In [65]:
pd.concat([df3, df4], axis=1) # 같은 인덱스

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1

In [66]:
print(df1)
print(df3)

    A   B
1  a1  b1
2  a2  b2
    A   B
0  a0  b0
1  a1  b1

In [67]:
pd.concat([df1, df3])

    A   B
1  a1  b1
2  a2  b2
0  a0  b0
1  a1  b1

In [68]:
pd.concat([df1, df3], verify_integrity=True)

ValueError: ignored

In [69]:
pd.concat([df1, df3], ignore_index=True) # 기존 row 인덱스 무시하고 연결하면서 새로운 인덱스 생성

    A   B
0  a1  b1
1  a2  b2
2  a0  b0
3  a1  b1

In [70]:
df5=create_df('ABC', [1, 2])
df6=create_df('BCD', [3, 4])

{'A': ['a1', 'a2'], 'B': ['b1', 'b2'], 'C': ['c1', 'c2']}
{'B': ['b3', 'b4'], 'C': ['c3', 'c4'], 'D': ['d3', 'd4']}

In [71]:
print(df5)
print(df6)
pd.concat([df5, df6])

    A   B   C
1  a1  b1  c1
2  a2  b2  c2
    B   C   D
3  b3  c3  d3
4  b4  c4  d4

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [72]:
pd.concat([df5, df6], join='inner') # 결합해야하는 2개의 DataFrame에서 공통으로 존재하는 컬럼만 가져옴

    B   C
1  b1  c1
2  b2  c2
3  b3  c3
4  b4  c4

### 병합과 조인

In [73]:
df1=pd.DataFrame({'학생':['홍길동', '이순신', '임꺽정', '김유신'],
                 '학과':['경영학과', '교육학과', '컴퓨터학과', '통계학과']})
df1

    학생     학과
0  홍길동   경영학과
1  이순신   교육학과
2  임꺽정  컴퓨터학과
3  김유신   통계학과

In [74]:
df2=pd.DataFrame({'학생':['홍길동', '이순신', '임꺽정', '김유신'],
                 '입학년도':[2012, 2016, 2019, 2020]})
df2

    학생  입학년도
0  홍길동  2012
1  이순신  2016
2  임꺽정  2019
3  김유신  2020

In [75]:
df3=pd.merge(df1, df2) # 기준 컬럼(이름이 같음)을 이용해 병합
df3

    학생     학과  입학년도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [76]:
df4=pd.DataFrame({'학과':['경영학과', '교육학과', '컴퓨터학과', '통계학과'],
                 '학과장':['황희', '장영실', '안창호', '정약용']})
df4

      학과  학과장
0   경영학과   황희
1   교육학과  장영실
2  컴퓨터학과  안창호
3   통계학과  정약용

In [77]:
pd.merge(df3, df4) # 공통 존재 칼럼(학과) 기준 병합

    학생     학과  입학년도  학과장
0  홍길동   경영학과  2012   황희
1  이순신   교육학과  2016  장영실
2  임꺽정  컴퓨터학과  2019  안창호
3  김유신   통계학과  2020  정약용

In [78]:
df5=pd.DataFrame({'학과':['경영학과', '교육학과', '교육학과', '컴퓨터학과', '컴퓨터학과', '통계학과'],
                 '과목':['경영개론', '기초수학', '물리학', '프로그래밍', '운영체제', '확률론']})
df5

      학과     과목
0   경영학과   경영개론
1   교육학과   기초수학
2   교육학과    물리학
3  컴퓨터학과  프로그래밍
4  컴퓨터학과   운영체제
5   통계학과    확률론

In [79]:
pd.merge(df1, df5)

    학생     학과     과목
0  홍길동   경영학과   경영개론
1  이순신   교육학과   기초수학
2  이순신   교육학과    물리학
3  임꺽정  컴퓨터학과  프로그래밍
4  임꺽정  컴퓨터학과   운영체제
5  김유신   통계학과    확률론

In [80]:
pd.merge(df1, df2, on="학생") # 생략: 공통 칼럼 존재

    학생     학과  입학년도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [81]:
pd.merge(df1, df2, on="학생")

    학생     학과  입학년도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [82]:
df6=pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                 '성적':['A', 'A+', 'B', 'A+']})
df6

    이름  성적
0  홍길동   A
1  이순신  A+
2  임꺽정   B
3  김유신  A+

In [83]:
pd.merge(df1, df6, left_on="학생", right_on="이름") # 컬럼 이름이 다른 경우

    학생     학과   이름  성적
0  홍길동   경영학과  홍길동   A
1  이순신   교육학과  이순신  A+
2  임꺽정  컴퓨터학과  임꺽정   B
3  김유신   통계학과  김유신  A+

In [84]:
pd.merge(df1, df6, left_on="학생", right_on="이름").drop("이름", axis=1) # 이름이라는 컬럼(axis=1)의 lable을 drop

    학생     학과  성적
0  홍길동   경영학과   A
1  이순신   교육학과  A+
2  임꺽정  컴퓨터학과   B
3  김유신   통계학과  A+

In [85]:
df7=pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정'],
                 '주문음식':['햄버거', '피자', '짜장면']})
df7

    이름 주문음식
0  홍길동  햄버거
1  이순신   피자
2  임꺽정  짜장면

In [86]:
df8=pd.DataFrame({'이름':['홍길동', '이순신', '김유신'],
                 '주문음료':['콜라', '사이다', '커피']})
df8

    이름 주문음료
0  홍길동   콜라
1  이순신  사이다
2  김유신   커피

In [87]:
pd.merge(df7, df8) # 공통 이름에 대해서만

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다

In [88]:
pd.merge(df7, df8, how='inner') # defalut: how

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다

In [89]:
pd.merge(df7, df8, how='outer') # 양쪽에 있는 모든 데이터

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면  NaN
3  김유신  NaN   커피

In [90]:
pd.merge(df7, df8, how='left') # 왼쪽에 있는 모든 데이터

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면  NaN

In [91]:
pd.merge(df7, df8, how='right') # 오른쪽에 있는 모든 데이터

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  김유신  NaN   커피

In [92]:
df9=pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                 '순위':[3, 2, 4, 1]})
df9

    이름  순위
0  홍길동   3
1  이순신   2
2  임꺽정   4
3  김유신   1

In [93]:
df10=pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                 '순위':[4, 1, 3, 2]})
df10

    이름  순위
0  홍길동   4
1  이순신   1
2  임꺽정   3
3  김유신   2

In [94]:
pd.merge(df9, df10, on="이름") # 컬럼 이름 중복 X (자동으로 이름 변경)

    이름  순위_x  순위_y
0  홍길동     3     4
1  이순신     2     1
2  임꺽정     4     3
3  김유신     1     2

In [95]:
pd.merge(df9, df10, on="이름", suffixes=["_인기", "_성적"])

    이름  순위_인기  순위_성적
0  홍길동      3      4
1  이순신      2      1
2  임꺽정      4      3
3  김유신      1      2

## 데이터 집계와 그룹 연산

#### 집계 연산(Aggregation)

| 집계                     | 설명                     |
|--------------------------|--------------------------|
| ``count`` | 전체 개수 |
| ``head``, ``tail`` | 앞의 항목 일부 반환, 뒤의 항목 일부 반환 |
| ``describe`` | Series, DataFrame의 각 컬럼에 대한 요약 통계 |
| ``min``, ``max`` | 최소값, 최대값           |
| ``cummin``, ``cummax`` | 누적 최소값, 누적 최대값 |
| ``argmin``, ``argmax`` | 최소값과 최대값의 색인 위치 |
| ``idxmin``, ``idxmax`` | 최소값과 최대값의 색인값 |
| ``mean``, ``median`` | 평균값, 중앙값 |
| ``std``, ``var`` | 표준편차(Standard deviation), 분산(Variance) |
| ``skew`` | 왜도(skewness) 값 계산 |
| ``kurt`` | 첨도(kurtosis) 값 계산 |
| ``mad`` | 절대 평균 편차(Mean Absolute Deviation) |
| ``sum``, ``cumsum`` | 전체 항목 합, 누적합 |
| ``prod``, ``cumprod`` | 전체 항목 곱, 누적곱 |
| ``quantile`` | 0부터 1까지의 분위수 계산 |
| ``diff`` | 1차 산술차 계산 |
| ``pct_change`` | 퍼센트 변화율 계산 |
| ``corr``, ``cov`` | 상관관계, 공분산 계산 |

In [96]:
df=pd.DataFrame([[1, 1.2, np.nan], # nan: 누락 값
                [2.4, 5.5, 4.2],
                [np.nan, np.nan, np.nan],
                [0.44, -3.1, -4.1]],
               index=[1, 2, 3, 4],
               columns=['A', 'B', 'C'])
df

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

In [97]:
df.head(2) # 위에 2개

     A    B    C
1  1.0  1.2  NaN
2  2.4  5.5  4.2

In [98]:
df.tail(2) # 끝에서 2개

      A    B    C
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

In [99]:
df.describe() # 요약

              A     B         C
count  3.000000  3.00  2.000000
mean   1.280000  1.20  0.050000
std    1.009554  4.30  5.868986
min    0.440000 -3.10 -4.100000
25%    0.720000 -0.95 -2.025000
50%    1.000000  1.20  0.050000
75%    1.700000  3.35  2.125000
max    2.400000  5.50  4.200000

In [100]:
print(df.idxmin())
print(df.idxmax())
print(df.mean())
print(df.std())

A    4
B    4
C    4
dtype: int64
A    2
B    2
C    2
dtype: int64
A    1.28
B    1.20
C    0.05
dtype: float64
A    1.009554
B    4.300000
C    5.868986
dtype: float64

In [101]:
df.corr()

          A         B    C
A  1.000000  0.970725  1.0
B  0.970725  1.000000  1.0
C  1.000000  1.000000  1.0

In [102]:
df.corrwith(df.B) # B와 다른 변수 간의 상관계수

A    0.970725
B    1.000000
C    1.000000
dtype: float64

### GroupBy 연산

In [103]:
df=pd.DataFrame({'c1':['a', 'a', 'b', 'b', 'c', 'd', 'b'],
                 'c2':['A', 'B', 'B', 'A', 'D', 'C', 'C'],
                 'c3':[3, 2, 3, 7, 8, 9, 3],
                 'c4':np.random.random(7)})
df

  c1 c2  c3        c4
0  a  A   3  0.052726
1  a  B   2  0.577940
2  b  B   3  0.049128
3  b  A   7  0.715148
4  c  D   8  0.708604
5  d  C   9  0.355013
6  b  C   3  0.580241

In [104]:
df.groupby('c1').mean()

          c3        c4
c1
a   2.500000  0.315333
b   4.333333  0.448173
c   8.000000  0.708604
d   9.000000  0.355013

In [105]:
df.groupby(['c1', 'c2']).mean()

        c3        c4
c1 c2
a  A   3.0  0.052726
   B   2.0  0.577940
b  A   7.0  0.715148
   B   3.0  0.049128
   C   3.0  0.580241
c  D   8.0  0.708604
d  C   9.0  0.355013

In [106]:
df.groupby(['c1', 'c2'])['c4'].mean()

c1  c2
a   A     0.052726
    B     0.577940
b   A     0.715148
    B     0.049128
    C     0.580241
c   D     0.708604
d   C     0.355013
Name: c4, dtype: float64

In [107]:
df.groupby(['c1', 'c2'])[['c4']].mean() # DataFrame 형태

             c4
c1 c2
a  A   0.052726
   B   0.577940
b  A   0.715148
   B   0.049128
   C   0.580241
c  D   0.708604
d  C   0.355013

In [108]:
df.groupby(['c1', 'c2'])['c4'].agg(['mean', 'min', 'max'])

           mean       min       max
c1 c2
a  A   0.052726  0.052726  0.052726
   B   0.577940  0.577940  0.577940
b  A   0.715148  0.715148  0.715148
   B   0.049128  0.049128  0.049128
   C   0.580241  0.580241  0.580241
c  D   0.708604  0.708604  0.708604
d  C   0.355013  0.355013  0.355013

## 문자열 연산

#### 문자열 연산자

* 파이썬의 문자열 연산자를 거의 모두 반영

| 함수 | 설명 |
| --- | --- |
| `capitalize()` | 첫 문자를 대문자로하고, 나머지 문자를 소문자로 하는 문자열 반환 |
| `casefold()` | 모든 대소문자 구분을 제거 |
| `count(sub, [, start[, end]])` | [start, end] 범위에서 부분 문자열 sub의 중복되지 않은 수를 반환 |
| `find(sub [, start [, end]])` | [start, end]에서 부분 문자열 sub가 문자열의 가장 작은 인덱스를 반환. sub가 발견되지 않는 경우는 -1 반환 |
| `rfind(sub [, start [, end]])` | [start, end]에서 부분 문자열 sub가 문자열의 가장 작은 큰 인덱스를 반환. sub가 발견되지 않는 경우는 -1 반환 |
| `index(sub [, start [, end]])` | find()과 유사하지만 부분 문자열 sub가 없으면 ValueError 발생 |
| `rindex(sub [, start [, end]])` | rfind()과 유사하지만 부분 문자열 sub가 없으면 ValueError 발생 |
| `isalnum()` | 문자열의 모든 문자가 영숫자로 1개 이상 있으면 True, 아니면 False 반환 |
| `isalpha()` | 문자열의 모든 문자가 영문자로 1개 이상 있으면 True, 아니면 False 반환 |
| `isdecimal()` | 문자열의 모든 문자가 10진수 문자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환 |
| `isdigit()` | 문자열의 모든 문자가 숫자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환 |
| `isnumeric()` | 문자열의 모든 문자가 수치형이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환 |
| `isidentifier()` | 문자열이 유효한 식별자인 경우 True 반환 |
| `isspace()` | 문자열 내에 공백 문자가 있고, 문자가 1개 이상 있으면 True, 그렇지 않으면 False |
| `istitle()` | 문자열이 제목이 있는 문자열에 문자가 1개 이상 있으면 True, 그렇지 않으면 False |
| `islower()` | 문자열의 모든 문자가 소문자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환 |
| `isupper()` | 문자열의 문자가 모두 대문자에 문자가 1개 이상 있으면 True, 그렇지 않으면 False |
| `join(iterable)` | iterable에 있는 문자열에 연결된 문자열을 반환 |
| `center(width [, fillchar])` | 길이 너비만큼 중앙정렬된 문자열 반환 |
| `ljust(width [, fillchar])` | 너미만큼의 문자열에서 왼쪽 정렬된 문자열을 반환 |
| `rjust(width [, fillchar])` | 너미만큼의 문자열에서 오른쪽 정렬된 문자열을 반환 |
| `lower()` | 모든 대소문자가 소문자로 변환된 문자열을 반환 |
| `upper()` | 문자열에서 모든 문자를 대문자로 변환한 문자열을 반환 |
| `title()` | 문자열에서 첫 글자만 대문자이고 나머지는 소문자인 문자열 반환 |
| `swapcase()` | 문자열에서 소문자를 대문자로 대문자를 소문자로 변환한 문자열 반환 |
| `strip([chars])` | 문자열 양쪽에 지정된 chars 또는 공백을 제거한 문자열을 반환 |
| `lstrip([chars])` | 문자열 왼쪽에 지정된 chars 또는 공백을 제거한 문자열을 반환 |
| `rstrip([chars])` | 문자열 오른쪽에 지정된 chars 또는 공백을 제거한 문자열을 반환 |
| `partition(sep)` | 문자열에서 첫번째 sep를 기준으로 분할하여 3개의 튜플을 반환 |
| `rpartition(sep)` | 문자열에서 마지막 sep를 기준으로 분할하여 3개의 튜플을 반환 |
| `replace(old, new[,count])` | 문자열의 모든 old를 new로 교체한 문자열을 반환 |
| `split(sep=None, maxsplit=1)` | sep를 구분자 문자열로 사용하여 문자열의 단어 목록을 반환 |
| `rsplit(sep=None, maxsplit=1)` | sep를 구분자 문자열로 사용하여 문자열의 단어 목록을 반환 |
| `splitlines([keepends])` | 문자열에서 라인 단위로 구분하여 리스트를 반환 |
| `startswith(prefix [, start[, end]])` | [start, end] 범위에서 지정한 prefix로 시작하면 True, 아니면 False 반환 |
| `endswith(suffix [, start[, end]])` | [start, end] 범위에서 지정한 suffix로 끝나면 True, 아니면 False 반환 |
| `zfill(width)` | 너비 만큼의 문자열에서 비어있는 부분에 ‘0’이 채워진 문자열 반환 |

In [109]:
name_list=['Sun Jo', 'Steven Jobs', 'Larry Page', 'Elon Musk', None,
          'Bill Gates', 'Mark Zuckerberg', 'Jeff Bezos']
names=pd.Series(name_list)
names

0             Sun Jo
1        Steven Jobs
2         Larry Page
3          Elon Musk
4               None
5         Bill Gates
6    Mark Zuckerberg
7         Jeff Bezos
dtype: object

In [110]:
names.str.lower()

0             sun jo
1        steven jobs
2         larry page
3          elon musk
4               None
5         bill gates
6    mark zuckerberg
7         jeff bezos
dtype: object

In [111]:
names.str.len()

0     6.0
1    11.0
2    10.0
3     9.0
4     NaN
5    10.0
6    15.0
7    10.0
dtype: float64

In [112]:
names.str.split() # 공백 기준 분리

0             [Sun, Jo]
1        [Steven, Jobs]
2         [Larry, Page]
3          [Elon, Musk]
4                  None
5         [Bill, Gates]
6    [Mark, Zuckerberg]
7         [Jeff, Bezos]
dtype: object

## 데이터 읽기 및 저장

| 함수 | 설명 |
|------|------|
| `read_csv` | 파일, URL, 객체로부터 구분된 데이터 읽기 (기본 구분자: ',') |
| `read_table` | 파일, URL, 객체로부터 구분된 데이터 읽기 (기본 구분자: '\t') |
| `read_fwf` | 고정폭 컬럼 형식에서 데이터 읽기 (구분자 없는 데이터) |
| `read_clipboard` | 클립보드에 있는 데이터 읽기. 웹페이지에 있는 표를 읽어올 때 유용 |
| `read_excel` | 엑셀 파일(xls, xlsx)에서 표 형식 데이터 읽기 |
| `read_hdf` | Pandas에서 저장한 HDFS 파일의 데이터 읽기 |
| `read_html` | HTML 문서 내의 모든 테이블 데이터 읽기 |
| `read_json` | JSON에서 데이터 읽기 |
| `read_msgpack` | 메시지팩 바이너리 포맷으로 인코딩된 pandas 데이터 읽기 |
| `read_pickle` | 파이썬 피클 포맷으로 저장된 객체 읽기 |
| `read_sas` | SAS 시스템의 사용자 정의 저장 포맷 데이터 읽기 |
| `read_sql` | SQL 질의 결과를 DataFrame 형식으로 읽기 |
| `read_stata` | Stata 파일에서 데이터 읽기 |
| `read_feather` | Feather 바이너리 파일 포맷의 데이터 읽기 |

### 텍스트 파일 읽기/쓰기

In [113]:
%%writefile example1.csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv

Writing example1.csv

In [114]:
ls

example1.csv  sample_data/

In [115]:
pd.read_csv('example1.csv')

    a   b   c   d   e     text
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [116]:
%%writefile example2.csv
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv

Writing example2.csv

In [117]:
pd.read_csv('example2.csv', header=None)

    0   1   2   3   4        5
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [118]:
pd.read_csv('example2.csv', names=['A', 'B', 'C', 'D', 'E', 'TEXT'])

    A   B   C   D   E     TEXT
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [119]:
pd.read_csv('example2.csv', names=['A', 'B', 'C', 'D', 'E', 'TEXT'], index_col='TEXT')

          A   B   C   D   E
TEXT
 hi       1   2   3   4   5
 pandas   6   7   8   9  10
 csv     11  12  13  14  15

In [120]:
%%writefile example3.txt
	a	b	c
 1	0.1	0.2	0.3
 2	0.4	0.5	0.6
 3	0.7	0.8	0.9

Writing example3.txt

In [121]:
pd.read_table('example3.txt', sep='\s+')

     a    b    c
1  0.1  0.2  0.3
2  0.4  0.5  0.6
3  0.7  0.8  0.9

In [122]:
%%writefile example4.csv
a, b, c, d, e, text
1, 2, NA, 4, 5, hi
6, 7, 8, NULL, 10, pandas
11, NA, 13, 14, 15, csv

Writing example4.csv

In [123]:
pd.read_csv('example4.csv')

    a    b    c      d   e     text
0   1    2   NA      4   5       hi
1   6    7    8   NULL  10   pandas
2  11   NA   13     14  15      csv

In [124]:
%%writefile example5.csv
a, b, c, d, e, text
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv
1, 2, 3, 4, 5, hi
6, 7, 8, 9, 10, pandas
11, 12, 13, 14, 15, csv

Writing example5.csv

In [125]:
pd.read_csv('example5.csv', nrows=5)

    a   b   c   d   e     text
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv
3   1   2   3   4   5       hi
4   6   7   8   9  10   pandas

## 데이터 정제

### 누락값

* 존재하지 않는 데이터

#### None: 파이썬 누락 데이터

In [126]:
a=np.array([1, 2, None, 4, 5])
a

array([1, 2, None, 4, 5], dtype=object)

In [127]:
a.sum()

TypeError: ignored

#### NaN: 누락된 수치 데이터

In [128]:
a=np.array([1, 2, np.nan, 4, 5])
print(a)
a.dtype

[ 1.  2. nan  4.  5.]

dtype('float64')

In [129]:
a.sum(), a.min(), a.max()

(nan, nan, nan)

In [130]:
np.nansum(a), np.nanmin(a), np.nanmax(a)

(12.0, 1.0, 5.0)

In [131]:
pd.Series([1, 2, np.nan, 4, None])

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [132]:
s=pd.Series(range(5), dtype=int)
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [133]:
s[0]=None
s

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [134]:
s=pd.Series([True, False, None, np.nan])
s

0     True
1    False
2     None
3      NaN
dtype: object

#### 누락값 처리

| 인자 | 설명 |
|------|------|
| `isnull()` | 누락되거나 NA인 값을 불리언 값으로 반환 | 
| `notnull()` | `issull()`의 반대 | 
| `dropna()` | 누락된 데이터가 있는 축 제외 | 
| `fillna()` | 누락된 값을 대체하거나 `ffill`이나 `bfill`로 보간 메소드 적용 |

In [135]:
s=pd.Series([1, 2, np.nan, 'String', None])

In [136]:
s.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [137]:
s.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [138]:
s[s.notnull()]

0         1
1         2
3    String
dtype: object

In [139]:
s.dropna()

0         1
1         2
3    String
dtype: object

In [140]:
s.fillna(0)

0         1
1         2
2         0
3    String
4         0
dtype: object

In [141]:
s.fillna(method='ffill') # fill values forward

0         1
1         2
2         2
3    String
4    String
dtype: object

In [142]:
s.fillna(method='bfill') # fill values backward

0         1
1         2
2    String
3    String
4      None
dtype: object

In [143]:
df=pd.DataFrame(np.random.randn(10, 3), columns=list('ABC'))
df.iloc[3:5, 0]=np.nan
df.iloc[4:6, 1]=np.nan
df.iloc[5:8, 2]=np.nan
df

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
3       NaN -1.537778 -0.291058
4       NaN       NaN  0.954585
5 -0.700122       NaN       NaN
6  0.097070 -0.270015       NaN
7  0.151083 -0.814816       NaN
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

In [144]:
df.dropna()

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

In [145]:
df.dropna(axis=0) # axis='rows'와 동일

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

In [146]:
df.dropna(axis=1) # axis='columns'와 동일 (모두  nan 포함 - 인덱스만 나옴)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
df.fillna(method='ffill', axis=0)

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
3  0.212655 -1.537778 -0.291058
4  0.212655 -1.537778  0.954585
5 -0.700122 -1.537778  0.954585
6  0.097070 -0.270015  0.954585
7  0.151083 -0.814816  0.954585
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

In [148]:
df.fillna(method='ffill', axis=1)

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
3       NaN -1.537778 -0.291058
4       NaN       NaN  0.954585
5 -0.700122 -0.700122 -0.700122
6  0.097070 -0.270015 -0.270015
7  0.151083 -0.814816 -0.814816
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

In [149]:
df.fillna(method='bfill', axis=0)

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
3 -0.700122 -1.537778 -0.291058
4 -0.700122 -0.270015  0.954585
5 -0.700122 -0.270015 -0.672214
6  0.097070 -0.270015 -0.672214
7  0.151083 -0.814816 -0.672214
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

In [150]:
df.fillna(method='bfill', axis=1)

          A         B         C
0  1.003872  0.885444  0.339278
1 -0.400633 -0.391680  1.623156
2  0.212655 -1.332312 -1.195108
3 -1.537778 -1.537778 -0.291058
4  0.954585  0.954585  0.954585
5 -0.700122       NaN       NaN
6  0.097070 -0.270015       NaN
7  0.151083 -0.814816       NaN
8  0.926709 -0.997573 -0.672214
9  0.270407 -1.052403 -0.657253

### 중복 제거

In [151]:
df=pd.DataFrame({'c1':['a', 'b', 'c']*2+['b']+['c'],
                'c2':[1, 2, 1, 1, 2, 3, 3, 4]})
df

  c1  c2
0  a   1
1  b   2
2  c   1
3  a   1
4  b   2
5  c   3
6  b   3
7  c   4

In [152]:
df.duplicated()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7    False
dtype: bool

In [153]:
df.drop_duplicates() # 중복 제거

  c1  c2
0  a   1
1  b   2
2  c   1
5  c   3
6  b   3
7  c   4

## 데이터 재구조화

* stack(), unstack() 함수를 이용해 데이터프레임의 구조 변경
* stack : 위에서 아래로 (행방향)
* unstack : 왼쪽에서 오른쪽으로 (열방향)

In [154]:
sample=pd.DataFrame([['길동', '철수', '영희'], [176, 173, 160]],
                    index=['이름', '키'],
                    columns=['홍', '김', '이'])
sample

      홍    김    이
이름   길동   철수   영희
키   176  173  160

In [155]:
sample.stack()

이름  홍     길동
    김     철수
    이     영희
키   홍    176
    김    173
    이    160
dtype: object

In [156]:
sample.stack().reset_index()

  level_0 level_1    0
0      이름       홍   길동
1      이름       김   철수
2      이름       이   영희
3       키       홍  176
4       키       김  173
5       키       이  160

In [157]:
from operator import index
col_lv2=pd.MultiIndex.from_arrays([['주스', '주스', '빵', '빵'],
                                   ['포도주스', '사과주스', '피자빵', '소보루빵']])
index_lv2=[['길동', '길동', '철수', '철수'],
           ['분석가', '사이언티스트', '엔지니어', '개발자']]
sample_lv2=pd.DataFrame([[1, 2, 3, 4],
                         [4, 3, 2, 1],
                         [2, 4, 1, 3],
                         [3,1 , 4, 2]],
                        index=index_lv2,
                        columns=col_lv2)
sample_lv2

            주스        빵
          포도주스 사과주스 피자빵 소보루빵
길동 분석가       1    2   3    4
   사이언티스트    4    3   2    1
철수 엔지니어      2    4   1    3
   개발자       3    1   4    2

In [158]:
sample_lv2.stack()

                  빵   주스
길동 분석가    사과주스  NaN  2.0
          소보루빵  4.0  NaN
          포도주스  NaN  1.0
          피자빵   3.0  NaN
   사이언티스트 사과주스  NaN  3.0
          소보루빵  1.0  NaN
          포도주스  NaN  4.0
          피자빵   2.0  NaN
철수 엔지니어   사과주스  NaN  4.0
          소보루빵  3.0  NaN
          포도주스  NaN  2.0
          피자빵   1.0  NaN
   개발자    사과주스  NaN  1.0
          소보루빵  2.0  NaN
          포도주스  NaN  3.0
          피자빵   4.0  NaN

In [159]:
sample_lv2.stack(level=0)

              사과주스  소보루빵  포도주스  피자빵
길동 분석가    빵    NaN   4.0   NaN  3.0
          주스   2.0   NaN   1.0  NaN
   사이언티스트 빵    NaN   1.0   NaN  2.0
          주스   3.0   NaN   4.0  NaN
철수 엔지니어   빵    NaN   3.0   NaN  1.0
          주스   4.0   NaN   2.0  NaN
   개발자    빵    NaN   2.0   NaN  4.0
          주스   1.0   NaN   3.0  NaN

In [160]:
sample_lv2.unstack()

     주스                                           빵                        \
   포도주스                  사과주스                   피자빵                  소보루빵
    개발자  분석가 사이언티스트 엔지니어  개발자  분석가 사이언티스트 엔지니어  개발자  분석가 사이언티스트 엔지니어  개발자
길동  NaN  1.0    4.0  NaN  NaN  2.0    3.0  NaN  NaN  3.0    2.0  NaN  NaN
철수  3.0  NaN    NaN  2.0  1.0  NaN    NaN  4.0  4.0  NaN    NaN  1.0  2.0



    분석가 사이언티스트 엔지니어
길동  4.0    1.0  NaN
철수  NaN    NaN  3.0

## 데이터 조회

* query() 함수를 이용한 조건에 맞는 데이터 조회

In [161]:
data=pd.DataFrame({'age':[10, 10, 21, 22], 'weight':[20, 30, 60, 70]})
data

   age  weight
0   10      20
1   10      30
2   21      60
3   22      70

In [162]:
data.query('age==10')

   age  weight
0   10      20
1   10      30

In [163]:
data.query('age>=22')

   age  weight
3   22      70

In [164]:
data.query('age in [21, 22]')

   age  weight
2   21      60
3   22      70

In [165]:
data.query('(age==10) and (weight>=30)')

   age  weight
1   10      30

## 참고문헌

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly